body {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: #f6f6f6;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.grid-item {
    background-color: red;
    flex-grow: 1;
    flex-basis: calc(25% - 1px);
}