body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #f6f6f6;
}
.container {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: #cfcfcf;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
}

.grid-item {
    background-color: #f6f6f6;
    flex-grow: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

}

.grid-item:hover {
    transform: translateY(1px);

}